    RewriteEngine On  
    RewriteBase /bio/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]
#<IfModule mime_module>
#    AddType application/x-httpd-ea-php71 .php .php7 .phtml
#</IfModule>